<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<connectionStrings>
    <add name="dbx" connectionString="Data Source=SELVAH\SQLSERVER;Initial Catalog=master;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="Hotel_Management_and_Billing_Software.Properties.Settings.EmployeeDBConnectionString"
        connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\EmployeeDB.mdf;Integrated Security=True;Connect Timeout=30"
        providerName="System.Data.SqlClient" />
    <add name="Hotel_Management_and_Billing_Software.Properties.Settings.HotelConnectionString"
        connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Hotel.mdf;Integrated Security=True;Connect Timeout=30"
        providerName="System.Data.SqlClient" />
    <add name="Hotel_Management_and_Billing_Software.Properties.Settings.masterConnectionString"
        connectionString="Data Source=SELVAH\SQLSERVER;Initial Catalog=master;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>